p {
	color: #FFC0CB;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none; 
}
