
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


p {

    color: #666666;
    font-family: "Oswald", Helvetica, "Arial", sans-serif;
}

body{
    background-color:#ebe3ce;
}
h1 {
    font-family:"Oswald", Helvetica, "Arial", sans-serif;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
    list-style-type: none;
    
}

#nav li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    text-decoration: none;

}

#nav a:link, a:visited {
    display:block;
    color: #0000FF;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: "Oswald",Helvetica, Arial, sans-serif;

}

#nav a:hover, a:active {
    background-color: #7a991a;

}

.caption {
    color: black;
    font-family: "playfair-display-", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: center;
}

#footer {
    color: black;
    font-family: "playfair-display-", Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
    border: none; 
}

.lists {
    list-style-type: none;
    padding: 0;
}

@media (min-width:800px){
.navigation{
  flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation a{
  border-top:none;
  border-bottom:none;
}
.navigation a:hover{
  background:black;
}

.first {
  margin-right: auto;
}

.main{
  display:flex;
  flex-flow:row;
}

img{
  width:50%;
  height:200px;
  margin-right:10px;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}

.header{
  background: tomato;
}

.footer{
  background: lightgreen;
}

.main{
  text-align: left;
  background: deepskyblue;
}

.aside-1{
  background: gold;
}

.aside-2{
  background: hotpink;
}



@media (min-width: 800px){
  .aside{
    flex: 1 auto;
  }

  .main {
    flex: 3 0px;
  }

  .aside-1{
    order:1;
  }
  .main{
    order: 2;
  }
  .aside-2{
    order: 3;
  }
  .footer{
    order: 4;
  }
}

body {
  padding: 2em;
}

}
