html {
	font-size: 100%
}

p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem
}

body{
	background-color:#ebe3ce;
}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
